:root {
  /* Colors */

  --clr-red: hsl(0, 78%, 62%);
  --clr-cyan: hsl(180, 62%, 55%);
  --clr-orange: hsl(34, 97%, 64%);
  --clr-blue: hsl(212, 86%, 64%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-grey-400: hsl(212, 6%, 44%);
  --clr-grey-500: hsl(234, 12%, 34%);

  /* Font */
  --ff-poppins: "Poppins", sans-serif;

  --fw-small: 200;
  --fw-medium: 400;
  --fw-large: 600;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h2 {
  color: var(--clr-grey-500);
}

body {
  color: var(--clr-grey-400);
  font-size: 1.5rem;
  font-family: var(--ff-poppins);
  font-weight: var(--fw-medium);
  line-height: 1.1;
}

img {
  display: block;
  max-width: 100%;
}

/* Composition */
.wrapper {
  margin-inline: auto;
  max-width: 100rem;
}

.header {
  max-width: 50rem;
  margin-top: 5rem;
  margin-inline: auto;
  text-align: center;
}

.cards-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-block: 5rem;
}

/* Utility */
.fw-s {
  font-weight: var(--fw-small);
}

.fw-l {
  font-weight: var(--fw-large);
}

.font-size-l {
  font-size: 3rem;
}

.transform {
  transform: translateY(50%);
}

.flow :first-child {
  margin-bottom: 0.5rem;
}

.flow *:not(:first-child) {
  margin-bottom: 2rem;
}

/* Block */
.card {
  border-top: 0.5rem solid var(--clr-cyan);
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.2rem 1rem 0 hsla(212, 6%, 44%, 0.1),
    0.2rem 0.6rem 1rem 0 hsla(212, 86%, 64%, 0.2);
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card__text {
  margin-bottom: 1.5rem;
}

.card__img {
  width: 5rem;
  height: 5rem;
  align-self: flex-end;
}

.card:nth-child(2) {
  border-top: 0.5rem solid var(--clr-red);
}

.card:nth-child(3) {
  border-top: 0.5rem solid var(--clr-orange);
  grid-column: 2 / 3;
}

.card:nth-child(4) {
  border-top: 0.5rem solid var(--clr-blue);
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

/* Responsive Media queries */
@media screen and (max-width: 1024px) {
  .cards-section {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-inline: 3rem;
  }

  .card:nth-child(1),
  .card:nth-child(2),
  .card:nth-child(3),
  .card:nth-child(4) {
    grid-row: auto;
    grid-column: auto;
  }

  .transform {
    transform: translateY(0);
  }
}

@media screen and (max-width: 550px) {
  .header {
    margin-inline: 3rem;
  }
}

@media screen and (max-width: 425px) {
  .header h1,
  .header h2 {
    font-size: 2.5rem;
  }
}
